---
---

@import "{{ site.theme }}";
#banner {
    background: #C11E5D;
    border: 1px solid #6C3D5D;
}
a {
    color:#6C3D5D
}
header {
    background: #6C3D5D;
}
h1 {
    text-shadow: 0px 2px 0px #522E46;
}
